bin/Debug/net6.0/Dictionary.deps.json
bin/Debug/net6.0/Dictionary.dll
bin/Debug/net6.0/Dictionary.exe
bin/Debug/net6.0/Dictionary.pdb
bin/Debug/net6.0/Dictionary.runtimeconfig.json
obj/Dictionary.csproj.nuget.dgspec.json
obj/Dictionary.csproj.nuget.g.props
obj/Dictionary.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/Dictionary.AssemblyInfo.cs
obj/Debug/net6.0/Dictionary.AssemblyInfoInputs.cache
obj/Debug/net6.0/Dictionary.assets.cache
obj/Debug/net6.0/Dictionary.csproj.AssemblyReference.cache
obj/Debug/net6.0/Dictionary.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/Dictionary.csproj.FileListAbsolute.txt
obj/Debug/net6.0/Dictionary.dll
obj/Debug/net6.0/Dictionary.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/Dictionary.genruntimeconfig.cache
obj/Debug/net6.0/Dictionary.GlobalUsings.g.cs
obj/Debug/net6.0/Dictionary.pdb
obj/Debug/net6.0/ref/Dictionary.dll
obj/Debug/net6.0/refint/Dictionary.dll
